/*
Copyright 2023 Adobe. All rights reserved.
This file is licensed to you under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License. You may obtain a copy
of the License at http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software distributed under
the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
OF ANY KIND, either express or implied. See the License for the specific language
governing permissions and limitations under the License.
*/

/* import the global stylesheets */
@import '@spectrum-web-components/styles/all-medium-light.css';

body {
    font-family: Arial;
    max-height: 100vh;
}

.parentdiv {
    display: flex;
    flex-direction: column;
}

/* Style the tab */
.tab {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: var(--spectrum-global-color-gray-50);
    padding: 30px 20px 30px 30px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    padding: 22px 36px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    margin: 2px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    outline: 2px solid var(--spectrum-global-color-gray-500);
    outline-offset: 1px;
    width: 115%; /* Adjust the width as needed */
    height: 115%; /* Adjust the height as needed */
    background-color: var(--spectrum-global-color-gray-300);
}

/* Create an active/current "tab button" class */
.tab button.active {
    background-color: var(--spectrum-global-color-gray-200);
    border-radius: 6px;
    width: 120%; /* Adjust the width as needed */
    height: 120%; /* Adjust the height as needed */
}

/* Style the tab content */
.tabcontent {
    position: absolute;
    top: 0;
    left: 285px;
    background: var(--spectrum-global-color-gray-50);
    right: 0;
    bottom: 0;
    padding: 20px;
    border-left: 2px solid var(--spectrum-global-color-gray-700);
    overflow-y: auto;
}

#content {
    margin: 20px;
    padding: 20px;
    display: flex;
    border-radius: 5px;
}

#left,
#right {
    border-radius: 5px;
    flex: 1 1 0%;
    max-width: 100%;
    overflow: auto;
    margin: 20px;
    padding: 20px;
    background: var(--spectrum-global-color-gray-100);
}

sp-action-group {
    margin-bottom: 10px;
}

sp-textfield,
sp-tags,
sp-number-field,
sp-search {
    margin-bottom: 20px;
}

sp-toast {
    margin: 20px;
}

sp-picker-button {
    margin-bottom: 5px;
}

h3 {
    color: var(--spectrum-global-color-gray-500);
    font-family: 'Lato', sans-serif;
    font-size: 54px;
    font-weight: 300;
    line-height: 58px;
    margin: 0 0 58px;
}
#subtitle {
    color: var(--spectrum-global-color-gray-100);
    background: var(--spectrum-global-color-gray-400);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 0px 0px 30px 0px;
    padding: 8px;
    border-radius: 3px;
}

#variantLabel {
    color: var(--spectrum-global-color-gray-500);
    background: var(--spectrum-global-color-gray-200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
    padding: 6px;
    border-radius: 2px;
    width: fit-content;
}

p {
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-indent: 30px;
    margin: 10px 0px 10px 0px;
}
.sub-heading {
    color: var(--spectrum-global-color-gray-100);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 30px;
    font-weight: bold;
}

.demo-example {
    background: var(--spectrum-global-color-gray-300);
    flex: 1 1 0%;
    max-width: 100%;
    overflow: auto;
    padding: 10px 10px 0px 10px;
    margin: 10px 10px 0px 0px;
    position: relative;
    z-index: 1;
}

.control-bar {
    position: relative;
    padding: 30px 30px 0px 50px;
    width: fit-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#global {
    overflow-y: auto;
    height: 100vh;
    background: var(--spectrum-global-color-gray-50);
}

.size-div {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
